name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
      env: 
        NUGET_AUTH_TOKEN: ${{secrets.NUGET}}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet pack --configuration Release --no-restore
    - name: Upload WebApp2 Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: Build outputs
        path: /home/runner/work/Ibis.MutexLeaderElection/Ibis.MutexLeaderElection/Ibis.MutexLeaderElection/bin/Release/
    - name: Publish NuGet using Dotnet
      run: dotnet nuget push A/home/runner/work/Ibis.MutexLeaderElection/Ibis.MutexLeaderElection/Ibis.MutexLeaderElection/bin/Release/*.nupkg --api-key ${{secrets.NUGET}} --source https://api.nuget.org/v3/index.json
      with:
        PROJECT_FILE_PATH: Ibis.MutexLeaderElection/Ibis.MutexLeaderElection.csproj
        NUGET_KEY: ${{secrets.NUGET}}        
    - name: Publish NuGet
      uses: brandedoutcast/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: Ibis.MutexLeaderElection/Ibis.MutexLeaderElection.csproj
        NUGET_KEY: ${{secrets.NUGET}}
